body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u1 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:45px;
  width:320px;
  height:355px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:355px;
}
#u3 {
  position:absolute;
  left:2px;
  top:170px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:5px;
  width:30px;
  height:29px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
