body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u1 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:62px;
  top:110px;
  width:197px;
  height:60px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:60px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:62px;
  top:292px;
  width:197px;
  height:58px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:58px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:20px;
  top:6px;
  width:30px;
  height:29px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
