body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u1 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:15px;
  top:55px;
  width:290px;
  height:160px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:160px;
}
#u3 {
  position:absolute;
  left:2px;
  top:72px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:15px;
  top:225px;
  width:168px;
  height:130px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:130px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:12px;
  width:30px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:44px;
  width:98px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:83px;
  width:98px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:5px;
  width:94px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:-1px;
  top:163px;
  width:98px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:203px;
  width:98px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:-10px;
  top:81px;
  width:100px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  height:2px;
}
#u17 {
  position:absolute;
  left:-10px;
  top:123px;
  width:100px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  height:2px;
}
#u18 {
  position:absolute;
  left:-10px;
  top:166px;
  width:100px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  height:2px;
}
#u19 {
  position:absolute;
  left:0px;
  top:123px;
  width:98px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:5px;
  width:94px;
  word-wrap:break-word;
}
