body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u1 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:8px;
  top:12px;
  width:32px;
  height:27px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:210px;
  top:10px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:100px;
  top:10px;
  width:100px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6 {
  position:absolute;
  left:0px;
  top:45px;
  width:320px;
  height:405px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:405px;
}
#u7 {
  position:absolute;
  left:2px;
  top:194px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:110px;
  top:166px;
  width:144px;
  height:144px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:144px;
}
#u9 {
  position:absolute;
  left:2px;
  top:64px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:14px;
  top:427px;
  width:292px;
  height:9px;
  overflow:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:9px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:5px;
  top:3px;
  width:334px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:317px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:334px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u12_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u12_end {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:18px;
}
#u12_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:8px;
}
#u13 {
  position:absolute;
  left:334px;
  top:0px;
  width:10px;
  height:8px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:18px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:8px;
}
#u10_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:9px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:5px;
  top:3px;
  width:334px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:317px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:334px;
  height:2px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:8px;
}
#u16 {
  position:absolute;
  left:334px;
  top:0px;
  width:10px;
  height:8px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:8px;
}
#u17 {
  position:absolute;
  left:24px;
  top:390px;
  width:272px;
  height:39px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:39px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
