body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:3px;
  top:14px;
  width:6px;
  height:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:19px;
  top:10px;
  width:45px;
  height:21px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:84px;
  width:310px;
  height:76px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:76px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:64px;
  top:210px;
  width:182px;
  height:50px;
  font-size:28px;
  text-decoration:underline;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
