body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u1 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:185px;
  width:310px;
  height:235px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:235px;
}
#u3 {
  position:absolute;
  left:2px;
  top:110px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:55px;
  width:280px;
  height:23px;
  font-size:20px;
  color:#333333;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:23px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:89px;
  top:99px;
  width:173px;
  height:30px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:60px;
  top:104px;
  width:19px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:39px;
  top:370px;
  width:241px;
  height:40px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:39px;
  top:185px;
  width:241px;
  height:30px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:39px;
  top:225px;
  width:241px;
  height:30px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:39px;
  top:310px;
  width:241px;
  height:40px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:237px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:145px;
  top:265px;
  width:135px;
  height:20px;
  color:#0099FF;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:45px;
  top:269px;
  width:150px;
  height:15px;
  color:#333333;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:10px;
  top:8px;
  width:30px;
  height:29px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
