body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u1 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:28px;
  top:170px;
  width:252px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:38px;
  width:248px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:239px;
  top:170px;
  width:41px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:8px;
  width:30px;
  height:29px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:29px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
